* {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: radial-gradient(rgb(122, 5, 5),rgb(29, 1, 1));
    display: flex;
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    max-width: 100%;
}

.container{
    display: grid;
	width: 100%;
    grid-template-areas: 
        "head head head head"
        "parr parr parr parr"
        "image1 image1 image1 image1"

        "perro perro perro perro"
        "image2 image2 image2 image2"

        /* durmiendo */

        "durmiendo durmiendo durmiendo durmiendo"
        "image6 image6 image6 image6"

        "trave trave trave trave"
        "image3 image3 image3 image3"

        "compu compu compu compu"
        "image4 image4 image4 image4"

        "pose pose pose pose"
        "image5 image5 image5 image5"

        "footer footer footer footer";
}

/* PORTADA */

.inicio {
    grid-area: head;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: auto;
}

.inicio__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.imgRes{
    display: none;
}

.inicio__txt{
    display: inline-block;
    width: 100%;
    text-align: right;
    position: absolute;
    right: 100px;
    text-decoration: none;
    overflow: hidden;
}

.inicio__txt h1{
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-size: 10vw;
    font-family: 'Bangers', cursive;
    padding-right: 90px;
}

.inicio__txt h2{
    display: inline-block;
    position: relative;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-family: 'Bangers', cursive;
    font-size: 5vw;
    overflow: hidden;
    bottom: 1em;
    padding: 10px;
}

.btn-green{
    position: absolute;
    bottom: 2em;
}

.btn-green__button{
    display: inline-block;
    position: relative;
    background: rgb(36, 190, 36);
    box-shadow: 0 0 10px rgb(36, 190, 36) 0 0 40px rgb(36, 190, 36) 0 0 80px rgb(36, 190, 36);
    padding: 16px 30px;
    color: #fff;
    font-size: 3vw;
    text-decoration: none;
    overflow: hidden;
    border-radius: 50px;
}

/* FRASE */

.parrafo{
    display: flex;
    grid-column: 1 / 5;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.parrafo p{
    padding-right: 50px;
    padding-left: 50px;
    color: #fff;
    font-size: 4em;
    text-align: center;
    overflow-y: hidden;
}

.pasitos{
    display: inline-block;
    font-size: 3em;
    text-align: center;
    overflow-y: hidden;
    margin-top: 60px;
    color: #fff;
    font-family: 'Bangers', cursive;
}

.amigo-perro{
    grid-area: perro;
    display: inline-block;
    font-size: 3em;
    text-align: center;
    margin: 30px;
    color: #fff;
}

.amigo-perro h3{
    overflow: hidden;
    font-family: 'Bangers', cursive;
}

.travesuras{
    grid-area: trave;
    display: inline-block;
    font-size: 3em;
    text-align: center;
    overflow-y: hidden;
    margin: 30px;
    color: #fff;
    font-family: 'Bangers', cursive;
}
.travesuras h3{
    overflow: hidden;
    font-family: 'Bangers', cursive;
}

.computador{
    grid-area: compu;
    display: inline-block;
    font-size: 3em;
    text-align: center;
    overflow-y: hidden;
    margin: 30px;
    color: #fff;
}
.computador h3{
    overflow: hidden;
    font-family: 'Bangers', cursive;
}

.durmiendo{
    grid-area: durmiendo;
    display: inline-block;
    font-size: 3em;
    text-align: center;
    overflow-y: hidden;
    margin: 30px;
    color: #fff;
    font-family: 'Bangers', cursive;
}
.durmiendo h3{
    overflow: hidden;
    font-family: 'Bangers', cursive;
}

.posando{
    grid-area: pose;
    display: inline-block;
    font-size: 3em;
    text-align: center;
    overflow-y: hidden;
    margin: 30px;
    color: #fff;
}
.posando h3{
    overflow: hidden;
    font-family: 'Bangers', cursive;
}

/* MODAL */

.grid-container1 img:hover{
    transform: scale(0.9);
    transition: 0.2s;
}
.grid-container2 img:hover{
    transform: scale(0.9);
    transition: 0.2s;
}
.grid-container3 img:hover{
    transform: scale(0.9);
    transition: 0.2s;
}
.grid-container4 img:hover{
    transform: scale(0.9);
    transition: 0.2s;
}
.grid-container5 img:hover{
    transform: scale(0.9);
    transition: 0.2s;
}
.grid-container6 img:hover{
    transform: scale(0.9);
    transition: 0.2s;
}

.over{
    overflow: hidden;
}

/* MODALS */

.contenedor-modal.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal.active img {
	z-index: 3;
	width: 100vw;
	height: 100vh;
}

.contenedor-modal.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal2.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal2.active img {
	z-index: 3;
	width: 100%;
	height: 100%;
}

.contenedor-modal2.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal3.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal3.active img {
	z-index: 3;
	width: 100vw;
	height: 100vh;
}

.contenedor-modal3.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal4.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal4.active img {
	z-index: 3;
	width: 100vw;
	height: 100vh;
}

.contenedor-modal4.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal5.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal5.active img {
	z-index: 3;
	width: 100vw;
	height: 100vh;
}

.contenedor-modal5.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal6.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal6.active img {
	z-index: 3;
	width: 100vw;
	height: 100vh;
}

.contenedor-modal6.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal7.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal7.active img {
	z-index: 3;
	width: 100vw;
	height: 100vh;
}

.contenedor-modal7.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal8.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal8.active img {
	z-index: 3;
	width: 100vw;
	height: 100vh;
}

.contenedor-modal8.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal9.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal9.active img {
	z-index: 3;
	width: 100vw;
	height: 100vh;
}

.contenedor-modal9.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal10.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal10.active img {
	z-index: 3;
	width: 100vw;
	height: 100vh;
}

.contenedor-modal10.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal11.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal11.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal11.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal12.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal12.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal12.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal13.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal13.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal13.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal14.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal14.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal14.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal15.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal15.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal15.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal16.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal16.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal16.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal17.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal17.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal17.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal18.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal18.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal18.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal19.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal19.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal19.active::after {
	position: fixed;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal20.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal20.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal20.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal21.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal21.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal21.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal22.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal22.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal22.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal23.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal23.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal23.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal24.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal24.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal24.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal25.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal25.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal25.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal26.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal26.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal26.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal27.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal27.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal27.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal28.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal28.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal28.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal29.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal29.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal29.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal30.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal30.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal30.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal31.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal31.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal31.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal32.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal32.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal32.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal33.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal33.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal33.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal34.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal34.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal34.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal35.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal35.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal35.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal36.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal36.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal36.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal37.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal37.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal37.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal38.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal38.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal38.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal39.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal39.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal39.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal40.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal40.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal40.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal41.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal41.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal41.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal42.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal42.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal42.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal43.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal43.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal43.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal44.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal44.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal44.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal45.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal45.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal45.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal46.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal46.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal46.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal47.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal47.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal47.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal48.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal48.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal48.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal49.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal49.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal49.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal50.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal50.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal50.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal51.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal51.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal51.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal52.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal52.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal52.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.contenedor-modal53.active {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	z-index: 2;
}
.contenedor-modal53.active img {
	z-index: 3;
	width: 700px;
	height: 700px;
}

.contenedor-modal53.active::after {
	position: fixed;
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
}

@keyframes zoom {
    from{
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/* GALERIA DE IMAGENES */

a {
    overflow: hidden;
}

.grid-container1 {
    grid-area: image1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-columns: auto;
    grid-auto-rows: 200px;
    grid-gap: 10px;
	justify-content: center;
    padding: 20px;
}

.grid-container1 a{
    cursor: zoom-in;
}
.grid-container2 {
    grid-area: image2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-columns: auto;
    grid-auto-rows: 200px;
    grid-gap: 10px;
    padding: 20px;
}

.grid-container2 a{
    cursor: zoom-in;
}

.grid-container3 {
    grid-area: image3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-columns: auto;
    grid-auto-rows: 200px;
    grid-gap: 10px;
    padding: 20px;
}

.grid-container3 a{
    cursor: zoom-in;
}

.grid-container4 {
    grid-area: image4;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-columns: auto;
    grid-auto-rows: 200px;
    grid-gap: 10px;
    padding: 20px;
}

.grid-container4 a{
    cursor: zoom-in;
}

.grid-container5 {
    grid-area: image5;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-columns: auto;
    grid-auto-rows: 200px;
    grid-gap: 10px;
    padding: 20px;
}

.grid-container5 a{
    cursor: zoom-in;
}

.grid-container6 {
    grid-area: image6;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-columns: auto;
    grid-auto-rows: 200px;
    grid-gap: 10px;
    padding: 20px;
	grid-auto-flow: dense;
}

.grid-container6 a{
    cursor: zoom-in;
}

.grid-container1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-container2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-container3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-container4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-container5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-container6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer{
    grid-area: footer;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
    border-width: 30px ;
    border-style: solid ;
    border-color: rgb(122, 5, 5) rgb(122, 5, 5) white rgb(122, 5, 5);
    box-shadow: 900px 80px 900px rgb(0, 0, 0);
    overflow: hidden;
}

.pie_footer{ 
    text-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.pie_footer h1{
    overflow: hidden;
}

.inst{
    width: 100px;
    height: 100px;
}

.git{
    width: 150px;
    height: 100px;
}

/* Media Queri */

@media (max-width: 650px) {

    .inicio {
        height: 100vh;
        display: flex;
        justify-content:center;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    
    .inicio__img{
        display: none;
    }

    .imgRes{
        display: inline-block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .imgRes img{
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: 50%;
    }
    
    .inicio__txt{
        text-align: center;
        width: 100%;
        height: 100%;
        position: absolute;
        text-decoration: none;
        justify-content: center;
        left: 0;  
        margin-top: 40px;
    }
    
    .inicio__txt h1{
        color: rgb(255, 255, 255);
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: black;
        font-weight: bold;
        font-size: 16vw;
        font-family: 'Bangers', cursive;
        margin: auto;
        padding-left: 30px;
    }
    
    .inicio__txt h2{
        display: inline-block;
        position: relative;
        color: rgb(255, 255, 255);
        -webkit-text-stroke-width: 0.1px;
        -webkit-text-stroke-color: black;
        font-weight: bold;
        font-family: 'Bangers', cursive;
        font-size: 9vw;
        overflow: hidden;
        padding-top: 30px;
        margin: auto;
    }

    .btn-green__button{
        padding: 20px 30px;
        font-size: 30px;
    }
    
}